*{
    margin: 0;
}
.container{
    background: wheat;
    width: 100vw;
    height: 51vw;
    text-align: center;
    align-items: center;
}

p{
    font-size: xx-large;
    padding: 5%;
}

button{
    font-size: large;
    padding: 0.75em;
}
#yesBtn{
    transform: translate(-100%, 0);
}
#noBtn{
    position: absolute;
    
    

}
img{
    width: 10%;
   
}
